.main-container {
    padding: 16px 32px;
    color: whitesmoke;
    position: relative;

    >mat-progress-bar {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
}